body{
	font-family: sans-serif;
	font-size: 13px;
	margin: 0;
	background-color: #5C9CA8;
}

#topbar{
	color: white;
	padding: .5em;
	/*border-bottom: 1px solid gray;*/
	box-shadow: inset 3px -5px 5px rgba(0, 0, 0, .4);
	background: #3D3D3D;
}

h1.pagetitle{
	font-size: 1.5em;
	/*border-bottom: 1px solid #D6D6D6;*/
}

.main{
	width: 80%;
	margin: 0 auto;
}

#title{
	float: left;
	font-weight: bold;
}

#user{
	float: right;
}

.col1, .col2{
	float: left;
}

.col1{
	width: 20%;
}

.col2{
	width: 80%;
}

.nav{
	margin: 1em 0 0 0;
	border: 1px solid #C9C9C9;
	background: #E8E8E8;
}

.nav h2{
	color: #595959;
	font-size: .8em;
	font-weight: bold;
	margin: 0;
	padding: .3em;
	/*background: #474747;*/
}

.nav ul{
	list-style-type: none;
	margin: .5em 0 0 0;
	padding: 0;
}

.nav li{
	padding: .5em 0 0 0;
}

.nav a{
	color: #00588C;
	font-size: .9em;
	display: inline-block;
	margin: .5em .5em 0 .5em;
}

.nav a:last-of-type{
	margin-bottom: .5em;
}

#page{
	margin: 0 0 0 1em;
}