html, body {
	display: flex;
	width: 100%;
	height: 100%;
}

body {
	flex-direction: column;
	font-family: sans-serif;
	font-size: 13px;
	margin: 0;
	cursor: default;
}

#top-bar {
	color: white;
	display: flex;
	padding: .5em;
	box-shadow: inset 3px -5px 5px rgba(0, 0, 0, .4);
	background: #3D3D3D;
}

#user {
	margin-left: auto;
}

#tab-bar {
	background: #CECECE;
}