form.prefs {
	min-width: 13em;
	border-radius: 4px;
}

form.prefs h1 {
	font-weight: normal;
	font-size: 1em;
	color: #727272;
	margin: 0;
	padding: .3em;
	background: #EDEDED;
}

form.prefs h2 {
	font-weight: normal;
	font-size: .8em;
	color: #202020;
	margin: 0;
	padding: .3em;
}

div.pref_row {
	padding: .3em;
}