div.nav {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 15%;
	min-width: 8.5em;
	max-width: 15em;
	margin-left: .5em;
	border-radius: 3px;
	padding: .3em;
	background: whitesmoke;
}

div.nav > div {
	flex-shrink: 0;
}

div.nav_header {
	font-size: .8em;
	font-weight: bold;
	padding: .2em .3em;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, .4);
}

div.nav_links {
	overflow-y: auto;
	padding: .1em;
}

div.nav_links.game_links {
	flex-shrink: 1;
}

div.nav_links > a {
	color: #5c5c5c;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	padding: .25em .4em;
}

div.nav a.on {
	background: #EDEDED;
}

div.nav a.off:hover {
	text-decoration: underline;
}

div.nav a.nav_game:hover {
	text-decoration: none;
}

a.nav_game.off:hover div.nav_game_title {
	text-decoration: underline;
}

div.nav_game_title {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

div.nav_game_timing_style {
	flex-shrink: 0;
	margin-left: .45em;
}

div.nav_game_clock {
	align-self: flex-start;
}