div.top_bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	padding: .5em;
}

div.title a {
	font-size: .95em;
	text-decoration: none;
}

div.control_panel {
	font-size: .85em;
}

div.control_panel a {
}

div.control_panel a:hover {
}