div.top_bar {
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	padding: .5em;
	background: #464646;
}

div.title a {
	font-size: .72em;
	font-weight: bold;
	color: #EDFBFF;
	text-decoration: none;
}

div.user {
	font-size: .85em;
}

div.user a {
	color: #F2F2F2;
}

div.user a:hover {
	color: white;
}