div.game {
	display: flex;
	flex-grow: 1;
}

div.game_main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

div.game_details {
	flex-basis: 20em;
	max-width: 20em;
	border-left: 1px solid #ababab;
	padding: .7em;
	box-shadow: inset 4px 0 7px rgba(0, 0, 0, .06);
}

div.game_board_and_controls {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #99A5AA;
}

div.game_board {
	padding: 2.2em 0;
}

div.game_player {
	color: #EFFCFF;
	font-size: 1.2em;
	display: flex;
	justify-content: space-between;
	padding: .5em;
	background: #5C6D75;
}

div.game_player.player {
	border-top: 1px solid #ababab;
}

div.game_player.opponent {
	border-bottom: 1px solid #ababab;
}

div.player_clock {
	padding: 0 .2em;
}

div.active_clock {
	border-radius: 2px;
	color: white;
	background: #58992A;
}

div.critical_clock {
	background: #912222;
}

div.game_result {
	font-size: 1.2em;
	text-align: right;
	margin-bottom: .5em;
}

div.game_controls {
	display: flex;
	flex-direction: column;
	min-width: 8em;
	margin-left: .6em;
}

div.game_controls input {
	color: #404040;
	margin: .2em 0 0 0;
	border-color: #b0b0b0;
	background: #f7f7f7;
}

div.game_controls input.disabled,
div.game_controls input.disabled:active,
div.game_controls input.disabled:hover {
	color: #9E9E9E;
}

div.game_chat {
	margin-top: .4em;
}