div.game {
	display: flex;
	flex-grow: 1;
}

div.game_main {
	display: flex;
	justify-content: center;
	margin-left: 1em;
}

div.game_details {
	margin: 0 1em;
	flex-grow: 1;
}

div.game_board_and_players {
	display: flex;
	flex-direction: column;
}

div.game_player, div.game_history_spacer {
	font-size: 1.2em;
	padding: .5em 0 .5em .5em;
}

div.game_history_spacer {
	color: rgba(0, 0, 0, 0);
}

div.game_player {
	display: flex;
	justify-content: space-between;
}

div.game_history_and_controls {
	display: flex;
}

div.game_controls_and_result {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

div.game_result, div.game_controls {
	min-width: 8em;
	margin-right: .3em;
}

div.game_controls {
	display: flex;
	flex-direction: column;
}

div.game_controls input {
	color: #404040;
	margin: .2em 0 0 0;
	border-color: #b0b0b0;
	background: #f7f7f7;
}

div.game_controls input.disabled,
div.game_controls input.disabled:active,
div.game_controls input.disabled:hover {
	color: #9E9E9E;
}

div.game_result {
	font-size: .8em;
	color: #1398D6;
	box-sizing: border-box;
	border-radius: 3px;
	padding: .32em;
	opacity: .8;
}

div.game_chat {
	margin-top: .4em;
}