div.game_main {
	display: flex;
}

div.game_board_and_players {
	display: flex;
	flex-direction: column;
}

div.game_player, div.game_history_spacer {
	font-size: 1.2em;
	padding: .5em 0 .5em .5em;
}

div.game_history_spacer {
	color: rgba(0, 0, 0, 0);
}

div.game_player {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

div.game_history_chat_and_controls {
	flex-grow: 1;
	margin-left: .6em;
}