div.home {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, .05);
}

div.challenges_and_login {
	display: flex;
	padding: .8em;
}

div.challenges {
	flex-grow: 1;
}

div.challenges, div.login_form {
	margin-left: .8em;
}