div.header {
	display: flex;
	flex-wrap: wrap;
	background-color: #F4F4F4;
}

div.header a, div.user_link, div.header_spacer {
	border-bottom: 2px solid #CECECE;
}

div.header a {
	color: #2f2f2f;
	text-decoration: none;
	display: block;
	padding: .5em .7em;
}

div.header a.on, div.header a.on:hover {
	color: #E0F6FF;
	border-bottom: 2px solid #094F77;
	background-color: #3F8EBF;
}

div.header a:hover {
	border-color: #BABABA;
}

div.header_spacer {
	flex-grow: 1;
}

a.user_link {
	color: black;
	text-decoration: none;
	display: block;
	border-bottom: 2px solid #CECECE;
	padding: .5em .7em;
}

a.user_link:hover {
	background: #EDEDED;
}