div.header {
	display: flex;
	background-color: #F4F4F4;
}

div.header > div {
	display: flex;
	align-items: flex-end;
}

div.header > div > * {
	border-bottom: 2px solid #CECECE;
}

div.header > div > a {
	color: #2f2f2f;
	text-decoration: none;
	display: block;
	padding: .5em .7em;
}

div.header_home_link, div.header_user_links {
	flex-shrink: 0;
}

div.header_game_links {
	flex-grow: 1;
	flex-shrink: 1;
	flex-wrap: wrap;
}

div.header a.on, div.header a.on:hover {
	color: #E0F6FF;
	border-bottom: 2px solid #094F77;
	background-color: #3F8EBF;
}

div.header a:hover {
	border-color: #BABABA;
}

div.header a.user_link.on {
	color: white;
	background: #636363;
}

div.header_spacer {
	flex-grow: 1;
}

a.user_link {
	color: black;
	text-decoration: none;
	display: block;
	border-bottom: 2px solid #CECECE;
	padding: .5em .7em;
}

a.user_link:hover {
	background: #EDEDED;
}

div.logout {
	padding: .5em .7em;
}

div.logout a {
	font-size: .9em;
}