div.home {
	display: flex;
	flex-grow: 1;
	padding: .7em;
	background: white;
}

div.home_main {
	flex-grow: 1;
	margin-right: .8em;
}

div.home_sidebar {
	flex-shrink: 0;
}

div.register_link {
	text-align: center;
	margin-top: .2em;
}