div.root {
	font-family: "Times New Roman", serif;
	color: #202020;
	font-size: 1.1em;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	overflow: hidden;
	background: #EFEFEF;
}

div.form_error {
	font-size: .8em;
	text-align: center;
	color: #BA0000;
	margin-top: .8em;
	border: 1px solid #D1D1D1;
	border-radius: 3px;
	padding: .5em;
}