div.root {
	font-family: "Times New Roman", serif;
	color: #202020;
	font-size: 1.1em;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	background: #eeeeda;
}

div.main {
	display: flex;
	flex-direction: column;
}

div.page {
	
}