div.nav {
	display: flex;
	flex-direction: column;
	flex-basis: 15%;
	flex-shrink: 0;
	background: #9B9B9B;
}

div.nav_header {
	font-size: .8em;
	padding: .2em .3em;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, .4);
	background: linear-gradient(to top, rgb(179, 179, 179) 0%, rgb(196, 196, 196) 100%);
}

div.nav_links > a {
	font-size: .85em;
	color: #5c5c5c;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	padding: .4em .5em;
	background: #d8d8d8;
}

div.nav a.on {
	color: rgba(255, 255, 255, 0.92);
	text-shadow: 1px 1px 0 rgba(2, 1, 1, 0.41);
	background: linear-gradient(to top, #3784CA 0%, #80cdff 100%);
}

div.nav a.off:hover {
	text-decoration: underline;
}

div.nav a.nav_game:hover {
	text-decoration: none;
}

a.nav_game.off:hover div.nav_game_title {
	text-decoration: underline;
}

div.nav_game_title {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

div.nav_game_timing_style {
	flex-shrink: 0;
}

div.nav_game_clock {
	align-self: flex-start;
}