div.tools {
}

div.tools_tabs {
	display: flex;
}

div.tools_tabs {
	display: flex;
	flex-direction: column;
	flex-basis: 15%;
	z-index: 1;
}

div.tools_tabs > a {
	font-size: .85em;
	text-align: right;
	color: #5c5c5c;
	text-decoration: none;
	display: block;
	padding: .8em .9em;
	box-shadow: inset -2px 0px 3px rgba(0, 0, 0, .06);
	background: #E3E7E9;
}

div.tools_tabs a.on, div.tools_tabs a.on:hover {
	box-shadow: none;
	background: white;
}

div.tools_tabs a:hover {
	border-color: #BABABA;
}

div.tools_page {
	background: white;
}