div.home {
	display: flex;
	flex-grow: 1;
	align-items: flex-start;
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, .05);
	background: #EFEFEF;
}

div.toprow {
	display: flex;
	align-items: flex-start;
	flex-grow: 1;
	padding: .8em;
}

div.challenges {
	flex-grow: 1;
	margin: 0 .8em;
}