div.home {
	display: flex;
	flex-grow: 1;
	align-items: flex-start;
	background: #F4F4F4;
}

div.toprow {
	display: flex;
	flex-grow: 1;
	padding: .8em;
}

div.toprow > div {
	border: 1px solid #D1D1D1;
	padding: .5em;
	background: white;
}

div.create_challenge {
	
}

div.challenge_graph {
	flex-grow: 1;
	margin: 0 .8em;
}

div.login_form {
	
}