div.home {
	display: flex;
	flex-grow: 1;
	align-items: flex-start;
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, .05);
	background: #EFEFEF;
}

div.toprow {
	display: flex;
	align-items: flex-start;
	flex-grow: 1;
	padding: .8em;
}

div.toprow > div {
	
}

div.challenges {
	flex-grow: 1;
	margin: 0 .8em;
	background: yellow;
}

form.login {
	width: 10em;
}

input.login {
	color: #545454;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
	border-color: #9B9B9B;
	background: #BFBFBF;
}

input.register {
	color: #6D5529;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, .3);
	border-color: #CEB780;
	background: #F9F4D4;
}