#bar {
	display: flex;
	flex-direction: row;
	align-content: stretch;
}

#logo {
	width: 48px;
	height: 48px;
	background: #42C2ED;
}

#games {
	display: flex;
}

#main {
	/*
	flex fill
	*/
	display: flex;
	flex-grow: 1;
	height: 100%;
	background: white;
}

#nav {
	flex-grow: 1;
	background: #E0E0E0;
	height: 2em;
	border-bottom: 1px solid #B5B5B5;
	box-shadow: 0 0px 6px rgba(0, 0, 0, .2);
}

#table {
	box-shadow: 0 0px 6px rgba(0, 0, 0, .2);
	background: white;
}

/*
FIXME these should be classes (namespaced) instead of ids
*/