.lightsquare_ui_root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.lightsquare_ui_header {
	display: flex;
	flex-shrink: 0;
	flex-direction: row;
	align-content: stretch;
	background: #223344;
}

.lightsquare_ui_logo {
	width: 48px;
	height: 48px;
	background: #42C2ED;
}

.lightsquare_ui_nav {
	display: flex;
}

.lightsquare_ui_main {
	display: flex;
	flex-grow: 1;
	background: #E8E8E8;
}