div.root {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 80%;
}

div.header {
	display: flex;
	background-color: #F4F4F4;
}

div.links {
	display: flex;
}

div.links a {
	color: #2f2f2f;
	text-decoration: none;
	display: block;
	border-bottom: 2px solid #dfdfdf;
	padding: .5em .7em;
}

div.links a.on, div.links a.on:hover {
	border-bottom: 2px solid #3D3D3D;
	background-color: #E8E8E8;
}

div.links a:hover {
	border-color: #c0c0c0;
}

div.header_center {
	flex-grow: 1;
	border-bottom: 2px solid #dfdfdf;
}

div.user {
	display: flex;
	justify-content: flex-end;
}

a.user_link {
	color: black;
	text-decoration: none;
	display: block;
	border-bottom: 2px solid #dfdfdf;
	padding: .5em .7em;
}

a.user_link:hover {
	background: #EDEDED;
}

div.main {
	flex-grow: 1;
}