div.current_games {
	display: flex;
	background: #545454;
}

div.current_games_scroll_outer {
	display: flex;
	flex-grow: 1;
	position: relative;
	overflow: hidden;
}

div.current_games_scroll_inner {
	display: flex;
	flex-grow: 1;
	position: relative;
	left: -100px;
	padding: .8em;
}

div.current_game {
	flex-shrink: 0;
	margin-left: .8em;
}

div.current_game:first-child {
	margin-left: 0;
}

div.current_game_board {
	position: absolute;
}

div.square {
	position: absolute;
}