div.current_games {
	display: flex;
	margin: .8em;
	box-shadow: inset 8px 8px 32px rgba(0, 0, 0, .3);
	background: #C6C6C6;
}

div.current_games_scroll_outer {
	display: flex;
	flex-grow: 1;
	position: relative;
	overflow: hidden;
}

div.current_games_scroll_inner {
	display: flex;
	flex-grow: 1;
	position: relative;
	padding: .8em;
}

div.current_game {
	flex-shrink: 0;
	margin-left: .8em;
}

div.current_game:first-child {
	margin-left: 0;
}

div.current_game_board {
	position: absolute;
	border: 1px solid #969696;
	cursor: pointer;
}

div.square {
	position: absolute;
}

div.current_games_scroll_button {
	flex-shrink: 0;
	width: 3.2em;
	background-color: #323232;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.current_games_scroll_button:hover {
	background-color: #3D3D3D;
}