div.game_backup {
	border-bottom: 1px solid #c0c0c0;
	padding: .5em;
}

div.game_backup:nth-child(even) {
	background: #efefef;
}

div.game_backup_title {
	display: flex;
	justify-content: space-between;
}

div.game_backup_body {
	display: flex;
	margin-top: .5em;
}

div.game_backup_details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	margin-left: .4em;
}

span.game_backup_move {
	cursor: pointer;
}

span.game_backup_move.selected_move {
	font-weight: bold;
}

div.game_backup_controls {
	text-align: right;
}

input.restore_game {
	color: #2A4F82;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
	background: #2F668E;
}