div.game_backup {
	margin-top: .7em;
	border: 1px solid #bababa;
	border-radius: 3px;
}

div.game_backup:first-child {
	margin-top: 0;
}

div.game_backup_title {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #bababa;
	padding: .5em;
}

div.game_backup_body {
	display: flex;
}

div.game_backup_board {
	padding: .4em;
}

div.game_backup_details {
	flex-grow: 1;
}

div.game_backup_history {
	padding: .5em;
}

span.game_backup_move {
	cursor: pointer;
}

span.game_backup_move.selected_move {
	font-weight: bold;
}

div.game_backup_controls {
	border-style: solid;
	border-color: #bababa;
	border-width: 1px 0 0 1px;
	border-top-left-radius: 3px;
}