div.challenge_graph {
	display: flex;
}

div.challenge_graph_ratings {
	color: #3f3f3f;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: .3em .3em 1.3em 0;
}

div.challenge_graph_ratings > div {
	font-size: .8em;
	text-align: right;
}

div.challenge_graph_body {
	flex-grow: 1;
	height: 20em;
	border: 1px solid #ababab;
	background: white;
}

div.challenge_graph_body > div {
	position: relative;
	height: 20em;
}

div.challenge_graph_challenges {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

div.challenge_graph_rating_lines {
	
}

div.challenge_graph_time_lines {
	display: flex;
}

div.challenge_graph_time_lines > div {
	box-sizing: border-box;
	width: 14.285%;
	border-right: 1px solid #E2E2E2;
}

div.challenge_graph_challenge {
	display: flex;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	width: 10%;
	min-width: 5em;
	border: 1px solid #cfcfcf;
	padding: .3em .5em;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
	background: #efefef;
	opacity: .8;
	cursor: pointer;
}

div.challenge_graph_challenge:hover {
	opacity: 1;
}

div.challenge_graph_body_and_time_brackets {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

div.challenge_graph_challenge_label {
	font-size: .8em;
	text-align: center;
}

div.challenge_graph_time_brackets {
	display: flex;
	height: 1em;
}

div.challenge_graph_time_brackets > div {
	font-size: .8em;
	text-align: center;
	width: 14.285%;
	margin-top: .3em;
}