div.history {
	border: 1px solid black;
	background: white;
}

div.history_fullmove {
	display: flex;
	flex-direction: row;
	padding: 3px;
}

div.history_fullmove:nth-child(even) {
	background: #efefef;
}

div.history_fullmove_number {
	width: 20%;
}

div.history_move_label {
	width: 40%;
	cursor: pointer;
}

div.history_move_label.selected {
	text-decoration: underline;
}