.fullmove_root{
	display: -webkit-flex;
	flex-direction: row;
}

.fullmove_root:nth-child(even){
	background: #efefef;
}

.fullmove_fullmove_col{
	width: 20%;
}

.fullmove_white_col, .fullmove_black_col{
	width: 40%;
}