.root {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 80%;
}

.header {
	display: flex;
}

.links {
	display: flex;
}

.links a {
	color: #2f2f2f;
	text-decoration: none;
	display: block;
	border-bottom: 2px solid #dfdfdf;
	padding: .5em .7em;
}

.links a.on, .links a.on:hover {
	border-bottom: 2px solid #3D3D3D;
}

.links a:hover {
	border-color: #c0c0c0;
}

.nav_right {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	border-bottom: 2px solid #dfdfdf;
	padding: .5em .3em;
}

.user {
}

.main {
	flex-grow: 1;
}