form.single_column {
	display: flex;
	flex-direction: column;
	width: 14em;
}

form.single_column label {
	font-size: .8em;
	margin: .7em 0 .2em 0;
}

form.single_column label:first-child {
	margin-top: 0;
}