div.play_home {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

div.seeks {
	flex-grow: 1;
	margin-left: .8em;
}

div.create_and_find {
	display: flex;
	border-bottom: 1px solid #A0A0A0;
}

div.create_seek {
	padding: .6em;
	border-right: 1px solid #888;
	background: #eeeeee;
}