.home {
	display: flex;
	width: 100%;
	margin-top: 1em;
}

.col1 {
	flex-grow: 1;
	margin-right: 1em;
}

.new_game, .join_game {
	display: flex;
	flex-direction: column;
}

div.section {
	margin-bottom: 1em;
}

div.section_header {
	color: white;
	padding: .5em;
	background: #2D2D2D;
}

div.dashboard_header {
	font-size: 1.5em;
	padding: .1em 0;
}

div.dashboard {
	padding: 1em 0em .5em 0em;
}

div.login_register_forms {
	display: flex;
}

div.input_pair div.label {
	min-width: 5em;
	margin: auto 1em auto 0;
}

input.initial_time {
	width: 4em;
}

input.increment {
	width: 3em;
}

input.min_rating, input.max_rating {
	width: 5em;
}

div.quick_challenge {
	padding: 1em .5em .5em .5em;
	background: #D8D8D8;
}

div.challenge_list {
	background: #D8D8D8;
}

div.challenge {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #bfbfbf;
	padding: .5em;
	cursor: pointer;
}

div.challenge:hover {
	background: #dfdfdf;
}

div.challenge_details {
	font-weight: bold;
}

div.challenge_owner {
	
}

div.no_challenges {
	text-align: center;
	padding: .5em;
}

div.random_game {
	margin-bottom: 1em;
}