div.play_nav {
	display: flex;
	flex-direction: column;
}

div.play_nav > a {
	color: #2f2f2f;
	text-decoration: none;
	display: block;
	padding: .5em .7em;
}

div.play_nav a.on, div.play_nav a.on:hover {
	background: white;
}

div.play_nav a:hover {
	border-color: #BABABA;
}