div.play {
	display: flex;
	flex-grow: 1;
	margin-top: .9em;
}

div.play_main {
	display: flex;
	flex-grow: 1;
	padding: .8em;
	background: white;
}

div.play_nav {
	display: flex;
	flex-direction: column;
	flex-basis: 15%;
}

div.play_nav > a {
	font-size: .85em;
	text-align: right;
	color: #5c5c5c;
	text-decoration: none;
	display: block;
	padding: .8em .9em;
	box-shadow: inset -2px 0px 3px rgba(0, 0, 0, .06);
	background: #E3E7E9;
}

div.play_nav a.on, div.play_nav a.on:hover {
	box-shadow: none;
	background: white;
}

div.play_nav a:hover {
	border-color: #BABABA;
}

div.play_page {
	display: flex;
	flex-grow: 1;
}

a {
	color: #275363;
}

div.message {
	color: #420000;
	position: absolute;
	z-index: 2;
	top: 3em;
	right: .5em;
	width: 33%;
	border: 1px solid #AA8E58;
	padding: .5em;
	background: rgba(255, 254, 242, 0.95);
}

div.modal_overlay {
	position: fixed;
	z-index: 10;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .45);
}

div.connecting_message {
	flex-grow: 1;
	color: #323232;
	padding: .8em;
}

div.waiting_for_server {
	text-align: center;
}

div.connecting_message h1 {
	text-align: center;
	font-weight: normal;
	font-size: 1.5em;
}

p.backedup {
	border-radius: 3px;
	padding: .2em .4em;
	border: 1px solid #F0E1A4;
	background: #FDFCE2;
}

div.footer {
	text-align: right;
	font-size: .9em;
	border-top: 1px solid #C1C1C1;
	padding: .6em .8em;
}