div.loading_page_container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	background: #efefef;
}

div.loading_page_dialog * {
	font-weight: normal;
}

div.loading_page_dialog {
	text-align: center;
	width: 40em;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	background: white;
}

div.loading_page_header {
	text-align: left;
	color: #494431;
	border-bottom: 1px solid #C4B893;
	padding: .4em;
	background: #FFFCE5;
}

div.loading_page_body {
	color: #2f2f2f;
	padding: 1em;
}

div.loading_page_body h2 {
	color: #4f4f4f;
}