div.history {
	font-size: .8em;
	height: 14em;
	border: 1px solid #BFBFBF;
	overflow-y: scroll;
	background: white;
}

div.history_fullmove {
	display: flex;
	flex-direction: row;
	padding: 3px;
}

div.history_fullmove {
	padding: .4em;
}

div.history_fullmove:nth-child(even) {
	background: #F7F7F7;
}

div.history_fullmove_number {
	text-align: right;
	width: 1.3em;
	padding-right: 1.5em;
}

div.history_move_label {
	width: 4.2em;
	cursor: pointer;
}

div.history_move_label:hover {
	text-decoration: underline;
}

div.history_move_label.selected, div.history_move_label.selected:hover {
	font-weight: bold;
	text-decoration: none;
}