.board_root{
	border: 1px solid #cfcfcf;
	background: #efefef;
}

.board_board{
	position: absolute;
	border-color: #808080;
	border-style: solid;
	border-width: 0;
}

.board_absolute_wrapper{
	position: absolute;
}

.board_board{
	position: absolute;
}

.board_coords_container{
	position: absolute;
}

.board_coords_container.board_file{
	height: 18px;
	line-height: 18px;
}

.board_coord{
	text-align: center;
	cursor: default;
	user-select: none;
}

.board_coord.board_file{

}

.board_coord.board_rank{

}