div.spectate_page {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-grow: 1;
	padding: 1em;
	overflow-y: auto;
}

div.current_game {
	flex-shrink: 0;
	margin: 0 1em 1em 0;
}

div.current_game_board {
	position: absolute;
	border: 1px solid #969696;
	cursor: pointer;
}

div.square {
	position: absolute;
}

div.square.light {
	background-color: #f0d9b5;
}

div.square.dark {
	background-color: #b58863;
}

div.square.light.last_move_to,
div.square.light.last_move_from
{
	background-color: #fdf6c2;
}

div.square.dark.last_move_to,
div.square.dark.last_move_from {
	background-color: #fff5ae;
}